body {
	background-color: rgba(75, 168, 237, 0.78);
	color : rgb(50, 50, 50);
	font-family: courier;
	font-size: 16px;
	padding: 25px;
	display: block;
  margin: 0px auto;
  text-align: center;
}

h1 {
	color : #3454D1;
	font-family: 'Merriweather', serif;
	letter-spacing: 3px;
	padding: 10px;
	margin-top: -15px;
}

h2 {
	color: #070707;
	font-weight: lighter;
	padding: 10px;
}

a {
	color: #3454D1;
	transition: color 0.3s ease;

}
a:hover {
	color:  #93827F;
}

p {
	font-family: 'Arvo', serif;

}

/* Custom with the class*/

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

@media (max-width:  960px) {
	.container {
		width : 700px;
	}
}

@media (max-width:  720px) {
	.container {
		width : 600px;
	}
}

@media (max-width:  540px) {
	.container {
		width : 400px;
	}
}

#Portrait {
	border-radius: 100px;
	width: 150px;
	height: auto;
	box-shadow: 4px 7px 20px 0px;
}

.header {
    background-color: white;
    padding: 50px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 50%);
    border-radius: 30px;
    margin: 50px;
}

.partie {
	background-color: white;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 50%);
  padding: 30px;
  border-radius: 30px;
  margin: 50px;
}

.liste {
	list-style: none;
	font-size: 50px;
	display: inline;
	padding: 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 20px;
}

.list-inline i {
  font-size: 50px;
}

